<link rel="stylesheet" href="/css/header.css">
<header id="container">
    <nav id="nav-container">
        <h2 id="logo">QTEST</h2>
        <ul id="nav-items">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">AboutUs</a>
            </li>
            <li>
                <a href="#">Test</a>
            </li>
            <li>
                <a href="#">SignUp</a>
            </li>
            <li>
                <a href="#">SignIn</a>
            </li>
        </ul>
    </nav>
</header>