<link rel="stylesheet" href="css/home.css">

<main id="main-container">

    <section id="main-section">
        <h2 id="greet">Welcome Satyam Shrivastava,Your Progress....</h2>
        <table id="progress">
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HTML</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>HTML</td>
                    <td>90</td>
                </tr>
            </tbody>
        </table>
    </section>

</main>