<link rel="stylesheet" href="/css/test.css">
<div id="main-container">

    <div>
        <a href="/users/test/html" >HTML</a>
    </div>
    <div>
        <a href="/users/test/css">CSS</a>
    </div>
    <div>
        <a href="/users/test/js" >JavaScript</a>
    </div>
    <div>
        <a href="/users/test/node" >NodeJs</a>
    </div>
    <div>
        <a href="/users/test/c" >C</a>
    </div>
    <div>
        <a href="/users/test/cplus" >C++</a>
    </div>
    <div>
        <a href="/users/test/c#" >C#</a>
    </div>
    <div>
        <a href="/users/test/java" >Java</a>
    </div>
    <div>
        <a href="/users/test/nextjs" >NextJs</a>
    </div>
    <div>
        <a href="/users/test/reactjs">ReactJs</a>
    </div>

</div>
<script src="/js/test.js"></script>
