<link rel="stylesheet" href="/css/test.css">
<div id="main-container">

    <div>
        <a href="/users/test/Html" class="questionLink" >HTML</a>
    </div>
    <div>
        <a href="/users/test/Css" class="questionLink">CSS</a>
    </div>
    <div>
        <a href="/users/test/Js"  class="questionLink">JavaScript</a>
    </div>
    <div>
        <a href="/users/test/Node" class="questionLink" >NodeJs</a>
    </div>
    <div>
        <a href="/users/test/C" class="questionLink" >C</a>
    </div>
    <div>
        <a href="/users/test/Cplus" class="questionLink" >C++</a>
    </div>
    <div>
        <a href="/users/test/C#"  class="questionLink">C#</a>
    </div>
    <div>
        <a href="/users/test/Java"  class="questionLink">Java</a>
    </div>
    <div>
        <a href="/users/test/Nextjs" class="questionLink" >NextJs</a>
    </div>
    <div>
        <a href="/users/test/Reactjs" class="questionLink">ReactJs</a>
    </div>

</div>
<script src="/js/test.js" type="module"></script>
