.about-section {
    height: 87.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://images.pexels.com/photos/3756681/pexels-photo-3756681.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3756681.jpg&fm=jpg') center/cover no-repeat; 
    background-size: cover;
    color: #130f0f;
    text-align: center;
    padding: 20px;
}

.about-content {
    max-width: 800px;
    line-height: 1.6;
}

.highlight-text {
    color: #5e54ed; /* Highlight color (yellow) */
}
