.signup-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100vw;
    text-align: center;
    height: 87.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    padding: 10px;
    border: 1px solid #393737;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-button {
    background-color: #0d87d8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #2dd17a;
}