.signin-container {
    background-color: #1b4f97;
    padding: 20px;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 87.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    padding: 10px;
    border: 1px solid #210f0f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #2980b9;
}